.body {
    display: flex;
    font-family: 'Overpass Mono', monospace;
    font-size: 23px;
    line-height: 1.6;
    color: #333;
}

#success-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
    right: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    /* font-weight: 100; */
}

*:after,
*:before {
    box-sizing: border-box;
}

.over_container {
    width: 100%;
    max-width: 1325px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
}

.header {
    width: 100vw;
    min-height: 65px;
    height: auto;
    background-color: #8cd0de;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.first_box{
    display: flex;
    padding: 0 40px 0 40px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.logo {
    margin-right: 50px;
    display: flex;
    width: 100%;
    height: 100%;

}

.nav {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Overpass Mono', monospace;
    text-decoration: none;
}

.nav_link {
    text-decoration: none;
    margin: 3px;
    color: #37474a;
    text-shadow: 1px 1px 1px #567981;
}

.intro {
    width: 100%;
    min-height: 817px;
    height: auto;
    background-color: #242424;
}

.intro_img {
    float: right;
}

/* .intro_img {
    background-image: url(/image/Waves.png);
    background-position: 100%;
    min-height: fit-content;
    width: 100%;
    height: fit-content;
    display: flex;
    background-repeat: no-repeat;
    position: relative;
    float: right;
  } */

/* .intro_img img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  } */




/* .intro {
    width: 100%;
    min-height: 820px;
    height: auto;
    background: #242424;
    margin: 0;
    font-weight: 200;
    align-items: center;

} */

.text_box {
    height: auto;
    max-width: 460px;
    margin: 0;
    font-weight: 200;
    padding-top: 250px;
}

.intro_main {
    font-size: 80px;
    font-family: 'Overpass Mono', monospace;
    line-height: 0.9;
    align-items: center;
    color: #fff;
    font-weight: 100;

}

.intro_main1 {
    font-family: 'Overpass Mono', monospace;
    font-size: 30px;
    color: #ffcc66;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 200;

}

.intro_main2 {
    font-family: 'Overpass Mono', monospace;
    font-size: 24px;
    color: #cc6666;
    font-weight: 200;

}

.btn {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;

}

.section1 {
    background-color: #000000;
    color: blue;
    width: 100%;
    min-height: 890px;
    height: auto;
}

.section_image {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
}

.section_text {
    padding-top: 275px;
    width: 485px;
    margin-left: auto;
}

.section_text1 {
    font-size: 62px;
    font-family: 'Overpass Mono', monospace;
    width: 260px;
    line-height: 0.9;
    color: #cc99ff;
    font-weight: 100;
}

.section_text2 {
    font-size: 27px;
    word-wrap: break-word;
    font-family: 'Overpass Mono', monospace;
    line-height: 0.9;
    color: #fff;
    font-weight: 100;
}

.read_more {
    padding-top: 1.5%;
    width: 33%;
    margin-left: auto;

}

.read_more_bnt {
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    text-align: center;
    font-weight: 200;
    margin-left: auto;
}

.section2 {
    width: 100%;
    height: 890px;
    background-color: #242424;
}

.section2_text {
    font-family: 'Overpass Mono', monospace;
    text-align: center;
}

.text2_title {
    padding-top: 20px;
    font-family: 'Overpass Mono', monospace;
    font-size: 54px;
    color: #8cd0de;
    font-weight: 100;

}

.text2 {
    font-size: 29px;

    color: #e484eb;
    line-height: 1;
    padding-bottom: 20px;
}

.section2_img {
    display: flex;
    justify-content: center;
}

.section2_img img {
    width: 60%;
    height: auto;
    padding-top: 10px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
}

.read_more_bnt2 {
    text-align: center;
}

.read_more_bnt22 {
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
}

.section3 {
    background-color: #000000;
    min-height: 860px;
    height: auto;
    width: 100%;
}

.section3_text {
    color: #e484eb;
    padding-top: 80px;
    font-family: 'Overpass Mono', monospace;
    text-align: center;
    font-size: xx-large;
}

.section3_sub_title {
    color: #8cd0de;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.section_box {

    font-family: 'Overpass Mono', monospace;
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box1 {
    background-color: #242424;
    border: #00d5ff;
    height: 380px;
    width: 350px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    ;
}

.box2 {
    background-color: #242424;
    border: #00d5ff;
    height: 380px;
    width: 350px;
    border: 1px solid;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box3 {
    background-color: #242424;
    border: #00d5ff;
    height: 380px;
    width: 350px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    ;
}

.box_textDay1 {
    text-align: center;
    font-size: 55px;
    color: #c85156;
    margin-bottom: 20px;
    font-weight: 100;
}

.box_textInfo1 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    width: 250 px;

}

.box_textPrice1 {
    text-align: center;
    font-size: 36px;
    color: #ffcc66;
    margin-top: 50px;
    font-weight: 100;

}

.box_textDay2 {
    text-align: center;
    font-size: 55px;
    color: #89cbd9;
    margin-bottom: 20px;
    font-weight: 100;
}

.box_textInfo2 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    width: 200px;

}

.box_textPrice2 {
    text-align: center;
    font-size: 36px;
    color: #ffcc66;
    margin-top: 50px;
    font-weight: 100;

}

.box_textDay3 {
    text-align: center;
    font-size: 55px;
    color: #fdcd6e;
    margin-bottom: 20px;
    font-weight: 100;
}

.box_textInfo3 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

.box_textPrice3 {
    text-align: center;
    font-size: 36px;
    color: #ffcc66;
    margin-top: 50px;
    font-weight: 100;

}

.btn1 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    margin-left: 100px;

}

.btn2 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    margin-left: 25px;


}

.btn3 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-shadow: -1px -1px -1px #242424;
    margin-left: 25px;
}

.section4 {
    background-color: #242424;
    width: 100%;
    min-height: 750px;
    height: auto;
    padding-bottom: 50px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    flex-direction: row;
}

.image-container2 {
    margin: 0 56px;
}

#img_sub_text {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 30px 0 30px 0;

}

.img {
    max-width: 100%;
    height: auto;
}



#img_btn_readMore {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #df585e;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
}

.section5 {
    min-height: 920px;
    height: fit-content;
    background-color: #242424;
}

.img_left5 {
    width: 100%;
    height: 100%;
    /* Замените height: 100vh на height: 100% */
    max-width: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    float: left;
}

.img_left5 img {
    height: 100%;
    max-width: 125%;
    min-height: fit-content;
    object-fit: cover;
}

.text_section5 {
    /* margin-right: 100px; */
    padding-top: 20%;

}

.title_section5 {
    text-align: right;
    font-size: 54px;
    color: #ffffff;
    font-weight: 100;
    text-align: right;
}

.subtitle_section5 {
    word-wrap: break-word;
    font-size: 34px;
    padding-bottom: 40px;
    color: #df585e;
    font-weight: 400;
    text-align: right;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: nowrap;
    padding-left: 600px;


}

.btn_section5 {
    display: flex;
    width: min-content;
    margin-left: auto;
    font-family: 'Overpass Mono', monospace;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
    margin-right: 100px;

}

.section6 {
    width: 100%;
    height: 1000px;
    background-color: #242424;
}

.section6_text {
    font-family: 'Overpass Mono', monospace;
    text-align: center;
}

.text6_title {
    padding-top: 20px;
    font-family: 'Overpass Mono', monospace;
    font-size: 54px;
    color: #8cd0de;
    font-weight: 100;

}

.text6 {
    font-size: 29px;
    width: auto;
    color: #e484eb;
    line-height: 1;
    padding-bottom: 70px;
}
.section6_img{
    display: flex;
    justify-content: center;
}

.section6_img img {
    width: 95%;
    height: auto;
    padding-top: 10px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 40px;
    position: relative;
}

.Contact_us_btn1 {
    text-align: center;
}

.Contact_us_btn {
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
    margin: 0 auto;
}

.section7 {
    width: 100%;
    min-height: 900px;
    height: auto;
    background-color: #242424;
}

.section-box7 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

.section7_text {
    width: 490px;
    height: 360px;
    padding-top: 200px;
}

.section7_title_text {
    font-family: 'Overpass Mono', monospace;
    font-size: 40px;
    color: #e484eb;
}

.section7_subtitle_text {
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;
    color: #fff;
}

.section7_img {
    background-image: url("/image/Blue\ Shape.png");
    background-repeat: no-repeat;
    width: 630px;
    height: 630px;
}

.container7_btn_send {
    text-align: center;
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #fff;
    background-color: #df585e;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 5px 25px 5px;
    white-space: nowrap;
    font-weight: 200;
    margin-top: 30px;

}

.section_box7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

.Title_form {
    flex-wrap: wrap;
    font-size: 33px;
    margin-left: 60px;
    padding-top: 30px;
}

.form {
    padding-top: 50px;
    flex: 1;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.form-row {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
    color: #c0c0c0;
}

#name {
    font-family: 'Overpass Mono', monospace;

    background-color: #4e5ceb;
    padding: 10px 15px 10px 15px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 20px;
    width: 180px;
    height: 20px;
    margin-bottom: 22px;
    margin-right: -45px;

}

#surname {
    font-family: 'Overpass Mono', monospace;
    padding: 10px 15px 10px 15px;
    background-color: #4e5ceb;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-left: 50px;
    height: 20px;
    width: 210px;
    font-size: 20px;



}

#email {
    font-family: 'Overpass Mono', monospace;
    background-color: #4e5ceb;
    width: 430px;
    height: 20px;
    padding: 10px 15px 10px 15px;
    border: 2px solid #fff;
    border-radius: 1px;
    font-size: 20px;
    text-align: left;
}

#message {
    padding: 10px 15px 10px 15px;
    margin-top: 33px;
    font-family: 'Overpass Mono', monospace;
    background-color: #4e5ceb;
    border: 2px solid #fff;
    border-radius: 2px;
    width: 430px;
    height: 225;
}

.Copyright {
    color: #00d5ff;
    margin-top: 370px;
}

.checkbox {
    margin: -20px 0 0 0;

}

/* Скрыть элемент <input> */
#checkbox {
    display: none;
}

/* Стилизация галочки */
.checkmark {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    justify-content: left;
    margin-top: -20px;
    margin-bottom: -10px;
    margin-left: -500px;
}

/* Отображение галочки, если элемент <input> выбран */
#checkbox:checked+.checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #fff;
}


/* Стилизация текста метки */
.label-text {
    display: flex;
    width: 385px;
    text-align: left;

}

.styled-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4e5ceb;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #0084ff;
}

.styled-button:focus {
    outline: none;
    box-shadow: 0 0 5px #0084ff;
}

.styled-button:active {
    background-color: #003cff;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #000000;
}


.footer_nav {
    font-family: 'Overpass Mono', monospace;
    display: flex;
    font-size: 20px;
    padding-top: 30px;
}

.footer_nav2 {
    font-family: 'Overpass Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -238px;
}

.footer_nav_link {
    display: flex;
    padding: 0 10px 0 10px;
    color: #fff;
}


.footer_basement {
    color: #00d5ff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img_footer {
    padding-top: 40px;
    padding: 40px 30px 1px ;

}
 .Copyright{
    font-family: 'Overpass Mono', monospace;
    font-size: 18px;
    display: inline-block;
 }
.Footer_social-media{
    display: inline-block;
}
.under_footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 30px;
}


@media (max-width: 1200px) {
    .intro_main {
        font-size: 60px;
        padding-left: 20px;
    }

    .intro_main1 {
        font-size: 25px;
        padding-left: 10px;
    }

    .intro_main2 {
        font-size: 21px;
    }

    .btn {
        font-size: 14px;
        color: #fff;
    }

    .section_text1 {
        font-size: 54px;

    }

    .section_text2 {
        font-size: 22px;
        padding-top: 15px;
    }

    .read_more_bnt {
        font-size: 15px;
        margin-top: 10px;
    }

    .text2_title {
        font-size: 50px;
    }

    .text2 {
        font-size: 23px;
        margin: 0 auto;
        max-width: 600px;

    }

    .section2_img img {
        padding-bottom: 20px;
        width: 80%;
    }

    .section2 {
        height: 690px;
    }

    .section3_sub_title {
        font-size: 20px;
        width: 500px;
        margin: 0 auto;


    }

    .box1 {
        height: 360px;
        width: 330px;
        padding: -10px;
    }

    .box_textDay1 {
        font-size: 50px;
    }

    .box_textInfo1 {
        font-size: 20px;
        width: 180px;
        margin: 0 auto;
    }

    .box_textPrice1 {
        font-size: 33px;
        margin: 15px;
    }

    .btn1 {
        margin: 0 auto;
        margin-top: 23px;
        margin-left: 18px;
    }
    .box2 {
        height: 360px;
        width: 330px;
        padding: -10px;
    }

    .box_textDay2 {
        font-size: 50px;
    }

    .box_textInfo2 {
        font-size: 20px;
        width: 180px;
        margin: 0 auto;
    }

    .box_textPrice2 {
        font-size: 33px;
        margin: 15px;
    }

    .btn2 {
        margin: 0 auto;
        margin-top: 23px;
        margin-left: 18px;
    }
    .box3 {
        height: 360px;
        width: 330px;
        padding: -10px;
    }

    .box_textDay3 {
        font-size: 50px;
    }

    .box_textInfo3 {
        font-size: 20px;
        width: 180px;
        margin: 0 auto;
    }

    .box_textPrice3 {
        font-size: 33px;
        margin: 15px;
    }

    .btn3 {
        margin: 0 auto;
        margin-top: 23px;
        margin-left: 18px;

    }

    .section3 {
        min-height: 700px;

    }
    .section4 {
        min-height: 650px;
    }

    .img_left5{
        width: 40%;
    }
    .text_section5{
        padding-right: 100px;
    }
    .title_section5{
        font-size: 40px;
        margin-left: 600px;
        text-align: center;

    }
    .subtitle_section5 {
        font-size: 28px;
        padding-bottom: 20px;
    }
    .btn_section5{
        font-size: 16px;
        margin-right: 250px        
    }
    .text6_title{
        font-size: 50px;
    }
    .text6{
        font-size: 25px;
        max-width: 600px;
        margin: 0 auto;
        padding-bottom: 10px;

    }
    .section6_img {
        padding: 40px;
    }
    .section6_img img{
        padding: 40px;
    }
    .section6{
        height: 850px;
    }
    .section7_title_text{
        font-size: 32px;

    }
    .section7_subtitle_text{
        font-size: 20px;
        width: 360px;
    }
    .section7_img{
        margin-right: 50px;
        width: 620px;
    }
    .section7_text{
        margin-left: 25px;
    }
    .label-text{
        margin-left: 100px;
        margin-top: 20px;
    }
    .container7_btn_send{
        font-size: 16px;
    }
    .section7{
        min-height: 700px;

    }
    .Copyright{
        padding-left: 30px;
    }
    .under_footer{
        padding-bottom: 40px;
        
    }
    .footer_nav{
        padding: 20px 0 0 30px;
    }

}