.body {
    font-family: 'Overpass Mono', monospace;
    font-size: 23px;
    line-height: 1.6;
    color: #333;
}

#success-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: none;

}

h1,
h2,
h3,
h4 {
    font-family: 'Overpass Mono', monospace;
    margin: 0;
    font-weight: 100;
}

*:after,
*:before {
    box-sizing: border-box;
}

.container {
    max-width: 1205px;
    padding: 0 30px;
    margin: 0 auto;
    padding: 0;

}


.intro {
    width: 100%;
    float: right;
    background-image: url("/image/Waves.png");
    background: #242424;
    text-align: left;
    min-height: 815px;
    max-height: 100%;
}


.intro_inner {
    display: flex;
    max-width: 460px;
    margin: 0 auto;
    font-weight: 200;
    flex-wrap: wrap;
    flex-direction: row;
    left: auto;
    padding-top: 250px;
}

.intro_main {
    display: flex;
    text-align: left;
    font-size: 80px;
    font-family: 'Overpass Mono', monospace;
    line-height: 0.9;
    align-items: center;
    color: #fff;
    font-weight: 100;
    word-wrap: break-word;

}

.intro_main1 {
    font-family: 'Overpass Mono', monospace;
    font-size: 30px;
    color: #ffcc66;


}

.intro_main2 {
    font-family: 'Overpass Mono', monospace;
    font-size: 24px;
    color: #cc6666;
    font-weight: 200;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    min-height: 65px;
    background-color: #8cd0de;
    position: relative;
}

.logo {
    display: flex;
    height: 100%;
    width: 125px;
    background-repeat: no-repeat;
    order: 1;
}

.head-nav {
    display: flex;
    order: 2;
    font-size: 20px;
    font-family: 'Overpass Mono', monospace;
    text-decoration: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.nav_link {
    text-decoration: none;
    margin: 3px;
    color: #37474a;
    text-shadow: 1px 1px 1px #567981;
}

.btn {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;

}

.section1 {
    background-color: #000000;
    color: blue;
    width: 100%;
    min-height: 890px;
    max-height: 100vh;
}

.section_image {
    background-size: 100%;
    background-image: url("/image/Shape.png");
    background-repeat: no-repeat;
    width: 100%;
    /* уменьшение ширины до 50% от исходного размера */
    min-height: 400px;
    height: auto;
    margin: 0 auto;

}

.section_text {
    max-width: 400px;
    margin: 0 auto;
}

.section_text1 {
    font-size: 62px;
    font-family: 'Overpass Mono', monospace;
    width: 260px;
    line-height: 0.9;
    color: #cc99ff;
    font-weight: 100;
}

.section_text2 {
    width: 480px;
    margin: 0 auto;
    font-size: 27px;
    font-family: 'Overpass Mono', monospace;
    line-height: 0.9;
    color: #fff;
    font-weight: 100;
}

.read_more {
    max-height: 33px;
    width: auto;
}

.read_more_bnt {
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
}

.section2 {
    width: 100%;
    height: 890px;
    background-color: #242424;
}

.section2_box {
    display: flex;
    flex-direction: column;
}

.section2_text {
    font-family: 'Overpass Mono', monospace;
    text-align: center;
}

.text2_title {
    padding-top: 20px;
    font-family: 'Overpass Mono', monospace;
    font-size: 54px;
    color: #8cd0de;
    font-weight: 100;

}

.text2 {
    display: flex;
    font-size: 29px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #e484eb;
    line-height: 1;
    padding-bottom: 20px;
}

.section2_img {
    background-size: 100%;
    background-image: url("/image/Shape2.png");
    background-repeat: no-repeat;
    width: 100%;
    /* уменьшение ширины до 50% от исходного размера */
    min-height: 500px;
    height: auto;
    margin: 0 auto;

}

.read_more_bntt {
    text-align: center;
}

.read_more_bnt2 {
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
}

.section3 {
    background-color: #000000;
    min-height: 860px;
    max-height: 100%;
    width: 100%;
}

.section3_text {
    flex-direction: column;

    display: flex;
    color: #e484eb;
    padding-top: 80px;
    font-family: 'Overpass Mono', monospace;
    text-align: center;
    font-size: xx-large;
}

.section3_sub_title {
    color: #8cd0de;
    font-size: 20px;
    flex-direction: column;
}

.section_box {
    /* display: inline-block; */
    font-family: 'Overpass Mono', monospace;
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.box1 {
    background-color: #242424;
    border: #00d5ff;
    height: 380px;
    width: 350px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    ;
}

.box2 {
    background-color: #242424;
    border: #00d5ff;
    height: 380px;
    width: 350px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    ;
}

.box3 {
    background-color: #242424;
    border: #00d5ff;
    height: 380px;
    width: 350px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    ;
}

.box_textDay1 {
    text-align: center;
    font-size: 55px;
    color: #c85156;
    margin-bottom: 20px;
    font-weight: 100;
}

.box_textInfo1 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    width: 250 px;

}

.box_textPrice1 {
    text-align: center;
    font-size: 36px;
    color: #ffcc66;
    margin-top: 50px;
    font-weight: 100;

}

.box_textDay2 {
    text-align: center;
    font-size: 55px;
    color: #89cbd9;
    margin-bottom: 20px;
    font-weight: 100;
}

.box_textInfo2 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    width: 200px;

}

.box_textPrice2 {
    text-align: center;
    font-size: 36px;
    color: #ffcc66;
    margin-top: 50px;
    font-weight: 100;

}

.box_textDay3 {
    text-align: center;
    font-size: 55px;
    color: #fdcd6e;
    margin-bottom: 20px;
    font-weight: 100;
}

.box_textInfo3 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

.box_textPrice3 {
    text-align: center;
    font-size: 36px;
    color: #ffcc66;
    margin-top: 50px;
    font-weight: 100;

}

.btn1 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    margin-left: 100px;

}

.btn2 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    margin-left: 25px;


}

.btn3 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    vertical-align: top;
    color: #8cd0de;
    background-color: #cc99ff;
    font-size: 15px;
    margin-top: 30px;
    padding: 7px 20px;
    text-shadow: -1px -1px -1px #242424;
    margin-left: 25px;
}

.section4 {
    background-color: #242424;
    width: 100%;
    height: 100%;
    min-height: 860px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.image-container2 {
    margin: 0 56px;
}

#img_sub_text {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 30px 0 30px 0;

}

#img_btn_readMore {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #df585e;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
}

.section5 {
    width: 100%;
    height: 900px;
    background-color: #242424;
    background-image: url("/image/left.png");
    background-repeat: no-repeat;
}

.img_left {
    float: left;
    max-width: 100%;
    height: auto;
}

.text_section5 {
    display: flex;
    width: 400px;
    height: 400px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title_section5 {
    font-size: 54px;
    color: #ffffff;
    font-weight: 100;
}

.subtitle_section5 {
    font-size: 34px;
    padding-bottom: 50px;
    color: #df585e;
    font-weight: 400;

}

.btn_section5 {
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
}

.section6 {
    width: 100%;
    height: 1000px;
    background-color: #242424;
}

.section6_text {
    flex-direction: column;
    font-family: 'Overpass Mono', monospace;
    text-align: center;
}

.text6_title {
    padding-top: 20px;
    font-family: 'Overpass Mono', monospace;
    font-size: 54px;
    color: #8cd0de;
    font-weight: 100;

}

.text6 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 29px;
    color: #e484eb;
    line-height: 1;
    padding-bottom: 70px;
}

.section6_img {
    background-size: 100%;
    background-image: url("/image/Maps.png");
    background-repeat: no-repeat;
    width: 100%;
    /* уменьшение ширины до 50% от исходного размера */
    min-height: 500px;
    height: auto;
    margin: 0 auto;
}

.Contact_us_btn {
    display: flex;
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #242424;
    background-color: #8cd0de;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 7px 30px;
    white-space: nowrap;
    font-weight: 200;

}

.section7 {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: #242424;
    flex-wrap: wrap;
}

.section7_text {
    width: 490px;
    height: 360px;
    padding-top: 200px;
}

.section7_title_text {
    font-family: 'Overpass Mono', monospace;
    font-size: 40px;
    color: #e484eb;
}

.section7_subtitle_text {
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;
    color: #fff;
}

.section7_img {
    display: flex;
    background-image: url(/image/Blue\ Shape.png);
    background-repeat: no-repeat;
    width: 630px;
    height: 630px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1 1 auto;
}

.container7_btn_send {
    text-align: center;
    height: auto;
    width: auto;
    font-family: 'Overpass Mono', monospace;
    display: inline-block;
    color: #fff;
    background-color: #df585e;
    font-size: 18px;
    text-decoration: none;
    text-shadow: -1px -1px -1px #242424;
    padding: 5px 25px 5px;
    white-space: nowrap;
    font-weight: 200;
    margin-top: 30px;

}

.Title_form {
    display: flex;
    flex-wrap: wrap;
    font-size: 33px;
    margin-left: 60px;
    padding-top: 30px;
}

.form {
    padding-top: 50px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.form-row {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
    color: #c0c0c0;
}

.section_box7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

#name {
    font-family: 'Overpass Mono', monospace;

    background-color: #4e5ceb;
    padding: 10px 15px 10px 15px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 20px;
    width: 180px;
    height: 20px;
    margin-bottom: 22px;
    margin-right: -45px;

}

#surname {
    font-family: 'Overpass Mono', monospace;
    padding: 10px 15px 10px 15px;
    background-color: #4e5ceb;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-left: 50px;
    height: 20px;
    width: 210px;
    font-size: 20px;



}

#email {
    font-family: 'Overpass Mono', monospace;
    background-color: #4e5ceb;
    width: 430px;
    height: 20px;
    padding: 10px 15px 10px 15px;
    border: 2px solid #fff;
    border-radius: 1px;
    font-size: 20px;
    text-align: left;
}

#message {
    padding: 10px 15px 10px 15px;
    margin-top: 33px;
    font-family: 'Overpass Mono', monospace;
    background-color: #4e5ceb;
    border: 2px solid #fff;
    border-radius: 2px;
    width: 430px;
    height: 225;
}

.checkbox {
    margin-left: -400px;
    display: flex;
    align-items: center;

}

/* Скрыть элемент <input> */
#checkbox {
    display: none;
}

/* Стилизация галочки */
.checkmark {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    justify-content: left;
    margin-top: -20px;
    margin-bottom: -10px;
    margin-left: 30px;
}

/* Отображение галочки, если элемент <input> выбран */
#checkbox:checked+.checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #fff;
}


/* Стилизация текста метки */
.label-text {
    display: flex;
    width: 385px;
    text-align: left;
    margin-left: 590px;
    margin-top: -10px;
    margin-right: 140px;

}

.styled-button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4e5ceb;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #0084ff;
}

.styled-button:focus {
    outline: none;
    box-shadow: 0 0 5px #0084ff;
}

.styled-button:active {
    background-color: #003cff;
}

.footer {
    width: 100%;
    height: 650px;
    background-color: #000000;
}

.footer_nav {
    font-family: 'Overpass Mono', monospace;
    display: flex;
    font-size: 20px;
    padding-top: 30px;
}

.footer_nav2 {
    font-family: 'Overpass Mono', monospace;
    display: flex;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -238px;
}

.footer_inner {
    max-height: 650px;
    height: 100%;
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0;
}

.footer_nav_link {
    display: flex;
    padding: 10px 10px 10px 10px;
    color: #fff;
}


.footer_basement {
    display: flex;
    color: #00d5ff;
    margin-top: 270px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img_footer {
    display: flex;
    background-image: url(/image/Footer_logo.png);
    background-image: url(/image/Facebook.png);
    background-image: url(/image/Twitter.png);
    background-image: none;
    padding-top: 40px;
}